<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Docuomento2</title>

</head>

<body>

	<h1>Nuevo Estudiante </h1>

	<form th:action="@{/estudiantes/guardar}" th:object="${estudiante}" th:method="POST">
		
		<table>
			<tr>
			<td><label>Nombre:</label></td>
			<td><input type="text" th:field="${estudiante.nombre}"></td>
			<td><label>Apellido:</label></td>
			<td><input type="text" th:field="${estudiante.apellido}"></td>
			<td><label>Cedula:</label></td>
			<td><input type="text" th:field="${estudiante.cedula}"></td>
			<td><label>Fecha de Nacimiento:</label></td>
			<td><input type="date" th:field="${estudiante.fechaNacimiento}"></td>
			
			</tr>
			
			
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>
</html>